* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3%;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6a9;
  position: sticky;
  z-index: 100;
  top: 0;
}

.connection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  width: 30px;
  cursor: pointer;
}
.toggle-icon {
  width: 30px;
  height: 30px;
}
.navbar ul {
  flex: 1;
  text-align: center;
}
.navbar ul li {
  display: inline-block;
  margin: 10px 20px;
  list-style-type: none;
  font-size: 20px;
}
.navbar li a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  padding: 15px 20px;
  margin-top: 20px;
}
.search {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 50%;
  padding: 5px 20px;
  border-radius: 50px;
  margin-right: 20px auto;
  border: 2px solid #38bdf8;
  justify-content: space-between;
}
.search-icon {
  border-left: 2px solid #38bdf8;
  padding-left: 10px;
  width: 40px;
}
.search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
.search input {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #262b38;
  max-width: 200px;
  font-size: 18px;
}
.search input::placeholder {
  color: #000;
}
.dark .navbar {
  background-color: #262b38;
  color: #fff;
  border-color: teal;
}
.dark .search {
  background-color: #262b38;
  border-color: teal;
}
.dark .search input::placeholder {
  color: #fff;
}
.dark .search input {
  color: #fff;
}
.dark .search-icon {
  border-left: 2px solid teal;
}
.dark ul li a {
  color: #fff;
}
.dark .conn:hover {
  background-color: teal;
  border-radius: 20px;
}
.conn:hover {
  background: #e6e6e6;
  border-radius: 20px;
  color: #000;
}
ul li a:hover {
  color: #dee6ef;
}
.logo {
  width: 150px;

  margin-left: 20px;
}
.user {
  position: relative;
  left: -9px;
  top: 5px;
}
.container-logo {
  border: 1px solid #0fbde9c2;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}
.dark .container-logo {
  background-color: #262b38;
  border: 2px solid teal;
}
